{% extends 'user/layout.html' %}
{% load static %}


{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h2 class="text-3xl lg:text-6xl text-white">{{ chat.title }}</h2>
    <span class="message-date" style="color: #499; font-size: 12px">
        {{ chat.create_at|date:"j F Y H:i" }}
    </span>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}

</div>
<div class="w-full flex flex-wrap items-center">
    <div class="column is-10 is-offset-0">

        {% for comment in comments %}
            {% if not comment.parent %}
            <div class="box" style="text-align: left">
                <span class="message-date" style="color: #999; font-size: 12px">
                    {{ comment.create_at|date:"j F Y H:i" }}
                </span>
                <div>{{ comment.email }} - {{ comment.user }}
                    {% if comment.user.profile.avatar %}
                        <img src="{{ comment.user.profile.avatar.url }}" alt="" style="height: 35px"/>
                    {% endif %}
                </div>
                <h3>{{ comment.text }}</h3>

                {% if comment.image %}
                    {% if comment.extension == '.txt' %}
                        <a href="{{ comment.image.url }}" >
                        <img style="width: 50px;height: 50px;border-radius: 50%; margin-right: 5px" src="{% static "comments/img/file_icon.jpeg" %}" alt="image"/>
                        download
                        </a>
                    {% else %}
                        <a class="fancybox" href="{{ comment.image.url }}">
                        <img style="border-radius: 10%; margin-left: 10px" src="{{ comment.image.url }}"
                             alt="image"/>
                        </a>
                    {% endif %}
                {% endif %}

                 <form method="post" action="" class="inline-flex" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="parent" value="{{ comment.pk }}">
                    <label for="chat-message-input"></label>
                    <input type="text" id="chat-message-input" name="text" style="width: 500px"  placeholder="Answer...">
                    <input type="file" name="file" style="margin: 10px" id="chat-file-input">
                    <button class="button is-info is-middle" style="margin-left: 50%">Reply</button>
                  </form>
            </div>
                 {% for i in comment.replies.all %}
                     <div class="box" style="text-align: left; margin-left: 10%">
                        <div>
                            <p>{{ comment.text }}</p>
                            <hr>
                        </div>
                        <span class="message-date" style="color: #999; font-size: 12px">
                            {{ i.create_at|date:"j F Y H:i" }}
                        </span>
                        <div>{{ i.email }} - {{ i.user }}
                            {% if i.user.profile.avatar %}
                                <img src="{{ i.user.profile.avatar.url }}" alt="" style="height: 35px"/>
                            {% endif %}
                        </div>
                        <h3>{{ i.text }}</h3>


                        {% if i.image %}
                            {% if i.extension == '.txt' %}
                                <a href="{{ i.image.url }}" >
                                <img style="width: 50px;height: 50px;border-radius: 50%; margin-right: 5px" src="{% static "comments/img/file_icon.jpeg" %}" alt="image"/>
                                download
                                </a>
                            {% else %}
                                <a class="fancybox" href="{{ i.image.url }}">
                                <img style="border-radius: 10%; margin-left: 10px" src="{{ i.image.url }}"
                                     alt="image"/>
                                </a>
                            {% endif %}
                        {% endif %}

                     </div>
                 {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="box column is-offset-0">
        <form method="post" action="" class="inline-flex" enctype="multipart/form-data">
         {% csrf_token %}
         <input type="hidden" name="parent" value="">
        <label for="chat-message-input"></label>
        <input type="text" id="chat-message-input" name="text" style="width: 500px"  placeholder="Your comment...">
        <input type="file" name="file" style="margin: 10px" id="chat-file-input">
        <button class="button is-info is-middle">Create comment</button>
        </form>
     </div>

    {% if paginator.is_paginate %}
        {% if page.has_previous %}
           <div class="card-body text-center">
                <a class="btn btn-primary" href="?page={{ page.previous_page_number }}">Previous Page</a>
           </div>
        {% else %}
            <div class="card-body text-center">
                <a class="btn btn-dark" href="#">Previous Page</a>
           </div>
        {% endif %}

        <div class="card-body text-center">
            {{ page.number }}/{{ total_pages }}
        </div>

        {% if page.has_next %}
            <div class="card-body text-center">
                <a class="btn btn-primary" href="?page={{ page.next_page_number }}">Next Page</a>
            </div>
        {% else %}
            <div class="card-body text-center">
                <a class="btn btn-dark" href="">Next Page</a>
            </div>
        {% endif %}

    {% endif %}
</div>
{% endblock %}
