{% extends 'user/layout.html' %}
{% load static %}


{% block content %}
<div class="w-full flex flex-wrap items-center">
    <div class="column is-10 is-offset-0">
        {% for comment in comments %}

            {% if not comment.parent %}
            <div class="box" style="text-align: left">
                <span class="message-date" style="color: #999; font-size: 12px">
                    {{ comment.create_at|date:"j F Y H:i" }}
                </span>
                <div>{{ comment.email }} - {{ comment.user }}
                    {% if comment.user.profile.avatar %}
                        <img src="{{ comment.user.profile.avatar.url }}" alt="" style="height: 35px"/>
                    {% endif %}
                </div>
                <h3>{{ comment.text }}</h3>
                {% if comment.image %}
                  <a class="fancybox" href="{{ comment.image.url }}">
                    <img style="border-radius: 10%; margin-left: 10px" src="{{ comment.image.url }}"
                         alt="image"/>
                  </a>
                {% endif %}
                <button class="button is-info is-middle" style="margin-left: 50%">Reply</button>
            </div>
                 {% for i in comment.replies.all %}
                     <div class="box" style="text-align: left; margin-left: 10%">
                            <span class="message-date" style="color: #999; font-size: 12px">
                                {{ i.create_at|date:"j F Y H:i" }}
                            </span>
                            <div>{{ i.email }} - {{ i.user }}
                                {% if i.user.profile.avatar %}
                                    <img src="{{ i.user.profile.avatar.url }}" alt="" style="height: 35px"/>
                                {% endif %}
                            </div>
                            <h3>{{ i.text }}</h3>
                            {% if i.image %}
                              <a class="fancybox" href="{{ i.image.url }}">
                                <img style="border-radius: 10%; margin-left: 10px" src="{{ i.image.url }}"
                                     alt="image"/>
                              </a>
                            {% endif %}
                        </div>
                 {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

     <form method="post" action="" class="inline-flex" enctype="multipart/form-data">
         {% csrf_token %}
        <label for="chat-message-input"></label>
        <input type="text" id="chat-message-input" name="text" style="width: 500px"  placeholder="Your message...">
        <input type="file" name="file" style="margin: 10px" id="chat-file-input">
        <button class="button is-info is-middle">Create comment</button>
      </form>

</div>
{% endblock %}
