{% extends 'user/layout.html' %}
{% load static %}


{% block content %}

<h1 class="title">
  Welcome, {{ user.username }}!
</h1>
<div class="w-full flex flex-wrap items-center">
    <form method="get" action="" class="inline-flex" enctype="multipart/form-data">
        <div>
            {{ form }}
        </div>
        <button class="button is-info is-middle">Sort</button>
    </form>
    <div class="column is-4 is-offset-4">

    {% for blog in comments_block_list %}
        <div class="box">
            <p>{{ blog.title }}</p>
            <p>Create by {{ blog.user }} - {{ blog.user.email }}</p>
            <span class="message-date" style="color: #499; font-size: 12px">
                {{ blog.create_at|date:"j F Y H:i" }}
            </span>
            <br>
            <a href="{% url "comments:comments" pk=blog.pk %}"><button class="button is-info is-middle">Connect</button></a>
        </div>

        {% empty %}
        <div class="w-full text-center">
            <h2 style="text-align:center;">There are no messages now :(</h2>
        </div>

    {% endfor %}
    </div>

    {% if paginator.is_paginate %}

        {% if page.has_previous %}
           <div class="card-body text-center">
                <a class="btn btn-primary" href="?page={{ page.previous_page_number }}">Previous Page</a>
           </div>

        {% else %}
            <div class="card-body text-center">
                <a class="btn btn-dark" href="#">Previous Page</a>
           </div>

        {% endif %}
        <div class="card-body text-center">
            {{ page.number }}/{{ total_pages }}
        </div>

        {% if page.has_next %}
            <div class="card-body text-center">
                <a class="btn btn-primary" href="?page={{ page.next_page_number }}">Next Page</a>
            </div>

        {% else %}
            <div class="card-body text-center">
                <a class="btn btn-dark" href="">Next Page</a>
            </div>

        {% endif %}

    {% endif %}
</div>
{% endblock %}